<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.reporting.mapper.replyMapper">
	<insert id="insertReply">
		insert into tb_reply (bno, reply, replyer)
		values (#{bno},#{reply},#{replyer})
	</insert>
	
	<select id="readReply" resultType="ReplyVO">
		select
			*
		from tb_reply
		where rno = #{rno}
	</select>
	
	<update id="updateReply">
		update tb_reply set reply = #{reply}, regdate = now()
		where rno = #{rno}
	</update>
	
	<delete id="deleteReply">
		delete from tb_reply where rno = #{rno}
	</delete>
	
	<select id="replyList" resultType="ReplyVO">
		select
			*
		from
			tb_reply
		where bno = #{bno}
		order by rno desc
	</select>

	<select id="replyPageList" resultType="ReplyVO">
		select
			*
		from
			tb_reply
		where bno = #{bno}
		order by rno desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="count" resultType="int">
		select count(bno) from tb_reply where bno = #{bno}
	</select>
</mapper>