@charset "utf-8";
@import url('style.css');
html,body{height:100%;}
body{font-size:12px;color:#4c5667;background:#fafafa;}

/* ****** form ***** */

/* input */
label{margin-bottom:0;}
input{;height:36px;display:inline-block;}
input[type=checkbox],input[type="radio"]{height:17px;width:17px;padding:0;margin:0px;}
input[type=checkbox]{opacity:0;position:absolute;}
input[type=checkbox]+label:before{content:"";display:inline-block;height:17px;width:17px;box-sizing:border-box;vertical-align:middle;margin:0 5px;background:transparent;font-size:11px;font-weight:normal;border-radius:3px;border:1px solid #ccc;-webkit-transition:all 0.2s ease;-ms-transition:all 0.2s ease;transition:all 0.2s ease;}
input[type=checkbox]:checked+label:before{font-family:FontAwesome;content:"\f00c";color:#fff;background:#039cfd;border-color:#039cfd;line-height:1.2;}
input[type=checkbox]:disabled+label:before{background:#eee;border-color:#ccc}
input[type="radio"]{cursor:pointer;opacity:0;z-index:1;position:absolute;}
input[type=radio]+label{display:inline-block;border:0;position:relative;cursor:pointer;}
input[type="radio"]+label:before{background:#fff;content:"";display:inline-block;width:17px;height:17px;vertical-align:middle;border-radius:50%;border:1px solid #ccc;-webkit-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
input[type="radio"]+label:after{background:transparent;content:" ";display:inline-block;width:11px;height:11px;position:absolute;top:5px;left:3px;border-radius:50%;-webkit-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;}
input[type="radio"]:checked+label:before{border-color:#039cfd;}
input[type="radio"]:checked+label:after{background:#039cfd;}
input[type="radio"]:disabled+label{cursor:not-allowed}
input[type="radio"]:disabled+label:before{border-color:#ccc;}
input[type="radio"]:disabled+label:after{background:#999;}
input[type="radio"]+label:after{top:5px\0/IE9;}
@-moz-document url-prefix(){
	input[type="radio"]+label:after{top:5px;}
}
.checkbox-primary label{padding-left:0;}
.input-group {float:left; padding:0 20px 0 0;}

.register_input {    width: 70%;}

/*textarea*/
textarea{}

/* select */
select{height:36px;}
.btn-group > .btn:first-child{font-size:12px;padding:8px 12px 9px}
.dropdown-menu > li > a{font-size:12px;padding:8px 20px;}
.btn-group .dropdown-toggle,.btn-group .side-toggle{width:50px;}

/* button */
button.btn,a.btn{display:inline-block;vertical-align:middle;font-weight:bold;text-align:center;font-size:12px;border-radius:2px;padding:6px 14px;zoom:1;*display:inline;background-color:#ffffff;border:1px solid #cccccc;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
button.btn_sm,a.btn_sm{height:29px;min-width:29px;display:inline-block;vertical-align:middle;font-weight:bold;text-align:center;font-size:11px;border-radius:2px;padding:6px 11px;zoom:1;*display:inline;background-color:#ffffff;border:1px solid #cccccc;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
a.btn{padding:6px 20px 6px;text-decoration:none;border-radius:5px; z-index:9999;    margin: 0 10px;}
span.btn{padding:5px 8px 5px;text-decoration:none;border-radius:25px;font-size:12px;min-width:70px;}
.btn:hover,.btn_sm:hover{background:#fff;}
.btn[disabled],.btn[disabled]:hover{background:#eee;border-color:#cfcfcf;opacity:1;color:rgba(0,0,0,0.6)}
.btn:hover,.btn_sm:hover{background-color:#f3f3f3;border-color:#cccccc;}
.btn.blue{background:#114f8c;color:#fff;border:1px solid #114f8c;}
.btn.blue:hover{background-color:#028de5;border:1px solid #028de5}
.btn.red{background:#fd6b03;color:#fff;border:1px solid #fd7203;}
.btn.red:hover{background-color:#fd3803;border:1px solid #fd2c03;}
.btn.gray{background:#535151;color:#fff;border:1px solid #7a7575;}
.btn.gray:hover{background-color:#000000;border:1px solid #000000;}
.btn.green{background:#22a857;color:#fff;border:1px solid #35c06c;}
.btn.green:hover{background-color:#108940;border:1px solid #108940;}
.tb_bt {float: right;  margin: 20px 0 0 0;}

button.btn02,a.btn02{display:inline-block;vertical-align:middle;font-weight:bold;text-align:center;font-size:12px;border-radius:2px;padding:6px 14px;zoom:1;*display:inline;background-color:#ffffff;border:1px solid #cccccc;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
button.btn02_sm,a.btn02_sm{height:29px;min-width:29px;display:inline-block;vertical-align:middle;font-weight:bold;text-align:center;font-size:11px;border-radius:2px;padding:6px 11px;zoom:1;*display:inline;background-color:#ffffff;border:1px solid #cccccc;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
a.btn02{padding:5px 5px 5px;text-decoration:none;border-radius:5px; margin-left:10px;}
span.btn02{padding:5px 8px 5px;text-decoration:none;border-radius:25px;font-size:12px;}
.btn02:hover,.btn02_sm:hover{background:#fff;}
.btn02[disabled],.btn02[disabled]:hover{background:#eee;border-color:#cfcfcf;opacity:1;color:rgba(0,0,0,0.6)}
.btn02:hover,.btn02_sm:hover{background-color:#f3f3f3;border-color:#cccccc;}
.btn02.blue{background:#039cfd;color:#fff;border:1px solid #039cfd;}
.btn02.blue:hover{background-color:#028de5;border:1px solid #028de5}
.btn02.red{background:#fd6b03;color:#fff;border:1px solid #fd7203;}
.btn02.red:hover{background-color:#fd3803;border:1px solid #fd2c03;}
.btn02.gray{background:#535151;color:#fff;border:1px solid #7a7575;}
.btn02.green{background:#22a857;color:#fff;border:1px solid #35c06c;}


/*layout*/
.wrap{height:100%;min-width:1080px;}
.header{position:fixed;top:0;left:0;width:100%;min-width:1080px;height:50px;background:#292C2F;z-index:999;     box-shadow: 0px 2px 2px rgba(0,0,0,.5) !important;}
.contain{min-height:100%;min-width:1080px;margin-left:70px;z-index:1;position:relative;padding-bottom:50px;}
.contain.left{margin-left:200px}
.content{min-height:500px;padding:50px 20px 0px;}
.con{width:100%;}
.con_w50{overflow:hidden;}
.con_w50 .con{width:49%;float:left;}
.con_w50 .con:nth-child(2n+1){clear:left}
.con_w50 .con:nth-child(2n){margin-left:2%}

.con_harf{overflow:hidden;    top: 450px;   position: relative;    padding: 0 20px;}
.con_harf .harf{width:580px;float:left;}
.con_harf .harf:nth-child(2n+1){clear:left}
.con_harf .harf:nth-child(2n){margin-left:2%}
.footer{position:absolute;width:100%;height:45px;left:0;bottom:0;color:#242222;    line-height: 10px;font-size:12px;text-align:left;padding:20px 30px;background:#ffffff;border-top:1px solid rgba(0,0,0,0.05);}

.board_box {display: block; min-height: 150px; background: #fff; width: 100%; box-shadow: 0 2px 2px rgba(0,0,0,0.1)  border-radius: 2px;  margin-bottom: 15px;    border: 1px solid #eae6e6;box-shadow: 0px 1px 1px rgba(0,0,0,.2) !important;}
.category_box {display: block; background: #fff; width: 100%; box-shadow: 0 2px 2px rgba(0,0,0,0.1)  border-radius: 2px;   border: 1px solid #eae6e6;box-shadow: 0px 1px 1px rgba(0,0,0,.2) !important;}
.bg_green { background-color: #1db48e;}
.bg_green:hover { background-color: #0e8d6d; transition:all .2s ease;}
.bg_blue {    background-color: #3e98e5;}
.bg_blue:hover {    background-color: #1a80d7; transition:all .2s ease;}
.bg_yellow {background-color: #facb38;}
.bg_yellow:hover {    background-color: #efba13; transition:all .2s ease;}
.bg_red {    background-color: #ed6965;}
.bg_red:hover {    background-color: #cf3d39; transition:all .2s ease;}
.bg_aqua {    background-color: #3c8dbc ;}
.bg_aqua:hover {    background-color: #357ca5; transition:all .2s ease;}
.bg_orange {    background-color: #ff851b;}
.bg_orange:hover {    background-color: #ff7701; transition:all .2s ease;}
.bg_orange {    background-color: #ff851b;}
.bg_orange:hover {    background-color: #ff7701; transition:all .2s ease;}

.bg_gray { background-color:#ffffff;}
.inner {text-align:center;  padding: 32px 25px;}
.inner02 {text-align:center;  padding: 10px 25px;}
.inner > h3 {color:#fff;font-weight: bold;    margin-top: 20px;}
.inner02 > h4 {color:#fff;font-weight: bold;    margin-top: 10px;     font-size: 14px;}
.board_box_footer {    font-weight: bold;  position: relative;  text-align: center;  color: rgba(255, 255, 255, 0.8);  display: block;  z-index: 10;  padding: 15px 0px;  background: rgba(0, 0, 0, 0.1);  text-decoration: none;}
.board_box_footer:hover {color:#fff;}
.info-box-icon {  border-top-left-radius: 2px; border-top-right-radius: 0; border-bottom-right-radius: 0; border-bottom-left-radius: 2px;  display: block;  float: left;  height: 90px;  width: 90px;  text-align: center;    font-size: 45px;   line-height: 90px;   background: rgba(0,0,0,0.2);}
.fa-comments {color:#fff;}
.fa-file-text-o {color:#fff;}
.fa-group {color:#fff;}
.fa-sitemap {color:#fff;}
.fa-list-alt {color:#fff;}
.fa-star {color:#fff;}

.inner02 .fa-comments {color:#fff;}
.inner02 .fa-file-text-o {color:#fff;}
.inner02 .fa-group {color:#fff;}
.inner02 .fa-sitemap {color:#fff;}
.inner02 .fa-list-alt {color:#fff;}
.inner02 .fa-star {color:#fff;}

.ui_layout{position:relative;height:300px;width:100%;background:#fff;}
#leftPane {width:400px;padding:20px;}
#topPane {height:100px;width:100%;padding:20px;}
#bottomPane {width:100%;padding:20px;}
.splitter-resizebar{background:#eee !important;}

.total_work {color: #d40303; font-weight: bold; margin-left: 10px; }
.check_count { padding: 3px 7px; background:#3697df; border-radius: 5px; color: #fff !important;float:right;font-size:12px; }
.nav_big .nav_1d li {overflow: hidden;}

/* header */
.logo{line-height:85px;text-align:center;width:100px;display:inline-block;vertical-align:middle;}
.logo a{display:block; }
.logo h1{color:#fff;font-size:12px;}
.logo.left{width:170px;}
.logo.left h1{font-size:13px;font-weight:bold;}
.nav_toggle{display:inline-block;margin:0 25px 0 0px;vertical-align:middle;}
.nav_toggle input.navcheck{position:absolute;opacity:0;cursor:pointer;}
.nav_toggle input.navcheck+label{cursor:pointer;}
.nav_toggle input.navcheck+label:before{font-family:FontAwesome;content:"\f0c9";line-height:1.1;font-size:18px;color:#fff;border:0;background:transparent;}
.nav_toggle input.navcheck:checked+label:before{content:"\f009";font-size:18px;line-height:1.1;}
.gnb{display:inline-block;vertical-align:middle;}
.gnb > li{float:left;min-width:70px;}
.gnb > li > a{display:block;line-height:50px;color:#fff;font-size:14px;text-align:center;    padding: 0 15px;}
.gnb > li > a:hover {    color: #f8d241;}
.right_nav{float:right;padding:0 20px;}
.right_nav > li{position:relative;display:inline-block;width:50px;text-align:center;vertical-align:middle;line-height:50px;margin-right:-4px;}
.right_nav > li > a{color:#fff;font-weight:bold;font-size:16px;}
.right_nav > li .btn-group{position:static;}
.right_nav > li .dropdown-toggle{display:inline;}
.right_nav > li .dropdown-toggle:before{font-family:FontAwesome;content:"\f036";font-size:18px;color:#fff;border:0;background:transparent}
.right_nav > li .dropdown-menu{min-width:80px;right:0px;top:48px;left:auto;}
.right_nav > li .side-toggle{display:inline;}
.right_nav > li .side-toggle:before{font-family:FontAwesome;content:"\f073";font-size:18px;color:#fff;border:0;background:transparent}
.right_nav > li .side-toggle.open{-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}

/* side nav */
#nav{position:fixed;top:50px;left:0;font-size:14px;box-shadow:2px 3px 3px rgba(0,0,0,.4) !important;-webkit-box-shadow:2px 3px 3px rgba(0,0,0,.4) !important;-moz-box-shadow:2px 3px 3px rgba(0,0,0,.4) !important;-o-box-shadow:2px 3px 3px rgba(0,0,0,.4) !important;-ms-box-shadow:2px 3px 3px rgba(0,0,0,.4) !important;background:#3F3F49;z-index:2}
#nav.nav_big{width:200px; height:100%;}
#nav.nav_big .scroll_style{overflow:auto;}
#nav.nav_big .menu-title{line-height:62px;text-align:left;padding-left:25px}
#nav.nav_big .nav_1d > li > a{display:block;padding:12px 25px 12px 25px;color:#ffffff;border-left:2px solid transparent;}
#nav.nav_big .nav_1d > li > a i{display:inline-block;width:30px;text-align:left;font-size:16px;}
#nav.nav_big .nav_1d > li > a .arrow:before{font-family:FontAwesome;content:"\f105";display:inline-block;font-size:16px;float:right;margin-top:2px}
#nav.nav_big .nav_1d > li > a:hover .arrow:before,#nav.nav_big .nav_1d > li.active > a .arrow:before{font-family:FontAwesome;content:"\f107";color:#2D3E50}
#nav.nav_big .nav_1d > li > a:hover,#nav.nav_big .nav_1d > li.active > a{padding:12px 25px 12px 25px;border-color:#2D3E50;background:#fff;color:#2D3E50}
#nav.nav_big .nav_1d > li .nav_2d{display:none;}
#nav.nav_big .nav_2d li a{display:block;padding:12px 0px 12px 55px;border-left:2px solid transparent; color:#fff; background:#48525f;font-size: 12px;}

/*hover_non_bg*/

/*nav.nav_big .nav_2d li a:hover,nav.nav_big .nav_2d li.on > a{padding-left:57px;border-left:2px solid transparent;background:#fff;color:#039cfd }*/

/*hover_bg*/
#nav.nav_big .nav_2d li a:hover,nav.nav_big .nav_2d li.on a{border-color:#183547;color:#183547;background:#fff;}
#nav.nav_mini{width:70px;position:fixed;top:0;left:0;padding-top:70px;height:100%;}
#nav.nav_mini .menu-title{display:none;}
#nav.nav_mini ul li{width:100%;height:49px;display:block;position:relative;}
#nav.nav_mini ul li a{width:100%;height:49px;display:block;text-align:center;}
#nav.nav_mini ul li i{font-size:18px;}
#nav.nav_mini ul li .arrow{display:none;}
#nav.nav_mini ul li .title{display:none;}
#nav.nav_mini .nav_1d li:hover a{position:relative;background:#fff;color:#75767b;z-index:3;}
#nav.nav_mini .nav_1d > li > a{position:relative;display:block;line-height:49px;min-height:49px;height:auto;color:#75767b;padding-left:5px;clear:both;border-left:2px solid transparent;white-space:nowrap;}
#nav.nav_mini .nav_1d > li:hover > a{width:260px;background:#fff;border-color:#039cfd;color:#546176;box-shadow:0 0 20px 0 rgba(33,33,33,.2);-webkit-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-moz-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-o-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-ms-box-shadow:0 0 20px 0 rgba(33,33,33,.2);}
#nav.nav_mini .nav_1d > li > a i.fa{float:left;font-size:20px;height:49px;line-height:49px;width:53px;top:0px;position:relative}
#nav.nav_mini .nav_1d > li:hover > a .title{float:left;padding-left:15px;width:196px;background:transparent;display:inline-block;position:relative;z-index:2;}
#nav.nav_mini .nav_1d > li:hover > a .arrow{position:absolute;right:0px;}
#nav.nav_mini .nav_1d > li:hover .nav_2d{padding-top:49px;padding-left:0px;background:#ffffff;position:absolute;left:70px;top:0px;width:190px;box-shadow:0 0 20px 0 rgba(33,33,33,.2);-webkit-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-moz-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-o-box-shadow:0 0 20px 0 rgba(33,33,33,.2);-ms-box-shadow:0 0 20px 0 rgba(33,33,33,.2);}
#nav.nav_mini ul li .nav_2d li{line-height:49px;background:#fff;}
#nav.nav_mini ul li .nav_2d li a{border-left:2px solid transparent;z-index:3}
#nav.nav_mini ul li .nav_2d li:hover a{border-color:#039cfd;color:#039cfd;background:rgba(237,237,237,0.8);}

/*side bar*/
.side_bar{position:fixed;top:0;right:-301px;z-index:100;width:300px;height:100%;min-height:570px;padding-top:70px;box-shadow:0 1px 3px rgba(0,0,0,0.15);-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.15);-moz-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-o-box-shadow:0 0 10px 0 rgba(33,33,33,.2);-ms-box-shadow:0 0 10px 0 rgba(33,33,33,.2);background:#fff;}
.side_bar ul{margin:0 20px;}
.side_bar ul li{padding:20px 20px 20px 0; border-bottom:1px dotted #cececf;}
.side_bar ul li:first-child{ padding:15px 0; font-weight:bold; }
.side_bar .scroll_wrap{height:100%;}

/* page_title */
.content_title{background:#39587c;box-shadow:0 2px 2px rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.03);padding:0px 20px;margin:0px -20px 20px -20px;}
.content_title > h4{line-height:22px;font-size:14px;font-weight:600;float:left;color: #ffffff;text-shadow: 1px 1px 1px rgba(0,0,0,0.3);}
.path{float:right;padding:5px 15px 0}
.path li{display:inline-block;}
.path>li+li:before{padding:0 5px;color:#ccc;content:"/\00a0";}
.path li a{display:inline-block;color:#ffffff;font-size:14px;font-weight: 600;}
.path li a:hover{color:#23527c}
.path li.active a{color:#777;cursor:default;}

/*con*/
.con{background:#fff;padding:20px;margin-bottom:20px;border:1px solid rgba(54,64,74,0.08);    overflow: hidden;    box-shadow: 0px 1px 0px rgba(0,0,0,.1) !important;}
.title_con{background:#fff;padding:10px 20px;margin-bottom:20px;border:1px solid rgba(54,64,74,0.08);    overflow: hidden;    box-shadow: 0px 1px 0px rgba(0,0,0,.1) !important;}
.title_subtxt {font-size: 12px; color: #dc3838; display: inline-block; vertical-align: bottom; margin-left: 10px;}
h4.title_txt{font-size:18px;font-weight:bold;line-height:25px;margin-bottom:13px;}
h4.title_txt02{font-size:18px;font-weight:bold;line-height:25px;    float: left;}
h4.title_txt03{font-size:18px;font-weight:bold;line-height:25px;margin-bottom:13px; color:#fff;    padding: 0 0 0 10px;}
h4.main_title_txt{font-size:22px;font-weight:bold;line-height:15px;margin-bottom:8px;}
h4.main_title_txt ~ div {font-size: 16px;  padding: 10px 0;}

/*tab*/
.slide_wrap{position:relative;width:100%;overflow:hidden;background:#fff;border:1px solid #e2e2e2;border-top:0;}
.slide_show{overflow:hidden;height:200px;position:relative}
.slide_show .slide{height:100%;float:left;position:relative;display:block;background:#fff;padding:15px;}
.tab_con{line-height:1.4}
.indicator{text-align:center;background:#fafafa;border-bottom:1px solid #e2e2e2;height:52px;border-top:1px solid #ddd;}
.indicator a{display:block;width:25%;float:left;text-align:center;position:relative;line-height:50px;color:#aaa;background:#fafafa;font-size:14px;border-left:0;border-right:0;border-bottom:1px solid #ddd;}
.indicator a.active{cursor:default;color:#666;background:#fff;border-bottom:1px solid #fff;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.indicator a.active:before{content:"";display:block;width:100%;height:2px;position:absolute;top:-1px;left:0;background:#3498db}
.indicator a:first-child{border-left:0;}

/*slide img*/
.slider{width:100%;}
.slider li{}
.arrow {border:2px solid #900 !importanta;}


/*accordion*/
.accordion_wrap{width:100%;}
.accordion_list{border-top:1px solid #eee;}
.accordion_list li{position:relative;border:1px solid #eee;border-top:0;}
.accordion_list li a{display:block;padding:12px 26px;background:#fafafa;color:#797979;font-size:12px;font-weight:bold;}
.accordion_list li a:after{display:inline-block;float:right;content:"\f067";font-family:FontAwesome;font-weight:normal;}
.accordion_list li.on > a:after{display:inline-block;content:"\f068";font-family:FontAwesome;font-weight:normal;}
.accordion_list .acoord_con{display:none;padding:15px;line-height:1.4;background:#fff;}

/*modal*/
.vertical-alignment-helper{display:table;height:100%;width:100%;}
.vertical-align-center{display:table-cell;vertical-align:middle;}
.modal-content{width:inherit;height:inherit;margin:0 auto;}

/*tree*/
.tree_box{border:1px solid #ddd;width:100%;height:200px;}
.tree_list{padding:10px 15px}
.tree_list .depth01{overflow:hidden;}
.tree_list .depth01 li{position:relative;}
.tree_list .depth01 li a{font-size:14px;color:#666;margin-left:35px;padding-right:5px;line-height:28px;font-weight:normal;}
.tree_list .depth01 > li > a:before,.tree_list .depth02 > li > a:before{display:block;position:absolute;top:0px;left:0px;content:"\f147";font-family:FontAwesome;font-weight:normal;color:#666;}
.tree_list .depth01 > li > a.ico_open:before,.tree_list .depth02 > li > a.ico_open:before{content:"\f196";font-family:FontAwesome;font-weight:normal;}
.tree_list .depth01 > li > a:after,.tree_list .depth02 > li > a:after{display:block;position:absolute;top:0px;left:15px;content:"\f07c";font-family:FontAwesome;font-weight:normal;color:#666;font-size:16px}
.tree_list .depth01 > li > a.ico_open:after,.tree_list .depth02 > li > a.ico_open:after{content:"\f07b";font-family:FontAwesome;font-weight:normal;}
.tree_list .depth01 li.on > a{color:#fff;background:#039cfd}
.tree_list .depth01 ul{margin-left:18px;/*display:none;*/}
.tree_list .depth02 li{line-height:28px}
.tree_list .depth03 li{margin-left:20px}
.tree_list .depth03 li a{margin-left:20px;}
.tree_list .depth03 li a:before{display:block;position:absolute;top:0px;left:0px;content:"\f15b";font-family:FontAwesome;font-weight:normal;color:#666;font-size:16px}

/*progress*/
.progress{background-color:#f5f5f5;box-shadow:none!important;height:10px;margin-bottom:18px;overflow:hidden;}
.progress-bar-info{background-color:#67d1f8;}
.progress-bar-pink{background-color:#f76397;}
.progress-bar-primary{background-color:#039cfd;}
.progress-bar-purple{background-color:#7266ba;}
.progress.progress-md{height:15px}
.progress.progress-md .progress-bar{font-size:10.8px;line-height:14.4px;}

/* calendar */
#calendar { padding:5px 25px; }
.fc-sat { color:#0000FF !important; background: #f2f8ff;}     /* 토요일 */
.fc-sun { color:#FF0000 !important;    background: #fdf7f6; }    /* 일요일 */

/*loading*/
.loading_bg{width:100%;height:180px;background:rgba(0,0,0,0.1);position:relative;}
.loading_icon{background:url('../images/icons/loading.gif') no-repeat center;background-size:100%;position:absolute;width:100px;height:100px;top:50%;left:50%;margin-top:-50px;margin-left:-50px;z-index:10}

/*Table*/
.table_wrap{width:100%;}
.table_wrap_result{  margin: 0 auto;width: 94%;}
.table_basic{width:100%;border-spacing:0;border-collapse:collapse;display:table;border-bottom:1px solid #eceff4;    border-top: 2px solid #004ea1;}
.table_basic thead{display:table-header-group;vertical-align:middle;border-top:1px solid #eceff4;border-bottom:1px solid #eceff4;}
.table_bacsic tbody{table-layout:fixed;display:table-column-group;width:100%;}
.table_basic tbody tr{border-top:1px solid #eceff4; transition: all 0.3s ease-out;}
.table_basic tbody tr:nth-of-type(even){ background-color:#f0f8fe;}
.table_basic th,.table_basic td{padding:10px;line-height:1.5;text-align:center;}
.table_basic th{text-align:center;  }
.table_basic tbody tr:hover,.table_basic tbody tr.active{background:#f0f8fe;}


.table_wrap{width:100%;    overflow: hidden;}
.table_wrap .table_clear tbody td a:hover {color: #ffcbad;  transition: all .1s ease-in-out; }
.main_table{  margin: 0 auto;width: 94%;}
.table_main{width:100%;border-spacing:0;border-collapse:collapse;display:table;border-bottom:1px solid #eceff4;    border-top: 2px solid #004ea1;}
.table_main thead{display:table-header-group;vertical-align:middle;border-top:1px solid #eceff4;border-bottom:1px solid #eceff4;}
.table_main tbody{table-layout:fixed;display:table-column-group;width:100%;}
.table_main tbody tr{border-top:1px solid #eceff4; transition: all 0.3s ease-out;}
.table_main tbody tr:nth-of-type(even){ background-color:#f0f8fe;}
.table_main th,.table_main td{padding:10px;line-height:1.5;text-align:center;}
.table_main th{text-align:center;  }
.table_main tbody tr:hover,.table_main tbody tr.active{background:#f0f8fe;}

.table_wokingF {width: 85%;  margin: 20px auto 46px;    border-spacing: 0;    border-collapse: collapse;    display: table;}
.table_wokingF td {text-align:center;}
.table_wokingC {width:20%; float:left;}
table.table_wokingC td {    padding: 5px 0px; }
.table_wokingW {width:80%; float:right;}
.table_wokingW tr:nth-of-type(even) {background-color: #f9f9f9;}
.table_wokingW th { background: #4c5e78;text-align: center;    padding: 15px 0;    color: #fff;    border-left: 1px solid #b0b0b0;    font-weight: 500;    border-bottom: 1px solid #b0b0b0;}
.table_wokingW td { text-align: center;   padding: 15px 0;   border: 1px solid #eee} 
#table_w_textarea {    width: 80%;    min-height: 60px; }

.user_infotable { }
.user_infotable th{text-align:center;      padding: 15px 0; color:#fff;border-left: 1px solid #b0b0b0; font-weight: 500;border-bottom: 1px solid #b0b0b0;}
.user_infotable td { text-align: center;    padding: 10px 0;    border: 1px solid #eee;}
.user_infotable tr:nth-of-type(1) th {background:#787997;}
.user_infotable tr:nth-of-type(2) th {background:#5e5f74;   letter-spacing: -2.5px;  }
.user_infotable tbody tr:nth-of-type(even) {background-color: #f9f9f9;}
.cancel_txt {border: 1px solid #db3535; padding: 2px 5px; display: inline-block; margin-left: 5px; color: #db3535;}
.cancel_txt:hover {color:#fff; background-color: #db3535; cursor:pointer; }
.time_01 {display: inline-block; line-height: 30px; width: 32%; margin-left: 5px; position: relative;}
.time_01 label {float:left}

.register_tb th {background: #787997;    text-align: center; color:#fff; padding:15px 0;border:1px solid #858fa3;}
.register_tb td {padding:15px 0 15px 20px;     border-bottom: 1px solid #eee;    border-top: 1px solid #eee;}


.blue_one {    width: 15px;    height: 15px;    background: #1d8fd3;    display: block;    margin: 0 auto;    border-radius: 10px;}
.red_one {    width: 15px;    height: 15px;    background: #d3401d;    display: block;    margin: 0 auto;    border-radius: 10px;}
.green_one {    width: 15px;    height: 15px;    background: #1dd32c;    display: block;    margin: 0 auto;    border-radius: 10px;}

/*Table View*/
.table_view{width:100%;margin-bottom:1rem;border-spacing:0;border-collapse:collapse;display:table;border-bottom:1px solid #eceff4;    border-top: 2px solid #004ea1;}
.table_view tbody tr{border-top:1px solid #eceff4;}
.table_view th,.table_view td{padding:12px 10px;line-height:1.5;}
.table_view th{background-color:#eceff4;text-align:center;}
.table_view_result{width:100%;margin-bottom:1rem;border: 1px solid #eee;border-spacing:0;border-collapse:collapse;display:table;border-bottom:1px solid #eceff4;    border-top: 2px solid #004ea1;}
.table_view_result tbody tr{border-top:1px solid #eceff4;}
.table_view_result tbody tr:nth-of-type(even){background:#f0f8fe;}
.table_view_result th,.table_view_result td{padding:10px;line-height:1.5;    text-align: center;    border-right: 1px solid #eee;}
.first_td {border-right:1px solid #eee;  background: #4683b8;  color: #fff;}
.table_view_result th{background-color:#eceff4;text-align:center;}
.table_content {padding:10px 0;}


.user_table_view{width:70%;margin-bottom:1rem;border-spacing:0;border-collapse:collapse;display:table;border-bottom:1px solid #eceff4;    border-top: 2px solid #1e1e24;}
.user_table_view tbody tr{border-top:1px solid #eceff4;}
.user_table_view th,.user_table_view td{padding:12px 10px;line-height:1.5;}
.user_table_view th{background-color:#798ba5;text-align:center; color: #fff;}
.user_table_view_result{width:100%;margin-bottom:1rem;border: 1px solid #eee;border-spacing:0;border-collapse:collapse;display:table;border-bottom:1px solid #eceff4;    border-top: 2px solid #004ea1;}
.user_table_view_result tbody tr{border-top:1px solid #eceff4;}
.user_table_view_result tbody tr:nth-of-type(even){background:#f0f8fe;}
.user_table_view_result th,.table_view_result td{padding:10px;line-height:1.5;    text-align: center;    border-right: 1px solid #eee;}
.first_td {border-right:1px solid #eee;  background: #4683b8;  color: #fff;}
.table_view_result th{background-color:#eceff4;text-align:center;}
.table_content {padding:10px 0;}

.user_picture {width:25%; float:left;}
.user_picture img {    display: block;    width: 42%;    margin: 0 auto;}

.table_view_participate th{background-color:#eceff4;text-align:center;}
.table_view_participate{width:100%;margin-bottom:1rem;border: 1px solid #eee;border-spacing:0;border-collapse:collapse;display:table;border-bottom:1px solid #eceff4;    border-top: 2px solid #004ea1;}
.table_view_participate tbody tr{border-top:1px solid #eceff4;}
.table_view_participate tbody tr:nth-of-type(even){background:#f0f8fe;}
.table_view_participate th,.table_view_participate td{padding:10px;line-height:1.5;    text-align: center; }


/*Table Clear*/
.table_clear{width:100%;margin-bottom:1rem;border-spacing:0;border-collapse:collapse;display:table;}
.table_clear thead{display:table-header-group;vertical-align:middle;}
.table_clear th,.table_clear td{padding:10px;line-height:1.5; color:#fff;}
.table_clear tbody th{text-align:right;}
.table_clear th { background:#ffffff;  border-radius: 5px;  color: #242121;}

/*Table Search*/
.table_search{width:85%;margin:0 auto;margin-bottom:1rem;border-spacing:0;border-collapse:collapse;display:table;}
.table_search thead{display:table-header-group;vertical-align:middle;}
.table_search th,.table_search td{padding:10px;line-height:1.5;}
.table_search tbody th{text-align:right;}

.table_search_tournament{width:60%;margin-bottom:3rem;border-spacing:0;border-collapse:collapse;display:table;    float: right; /*margin-right: 4%;*/}
.table_search_tournament thead{display:table-header-group;vertical-align:middle;}
.table_search_tournament th, .table_search_tournament td{padding:10px;line-height:1.5;}
.table_search_tournament tbody th{text-align:right;}

.table_search_result {width:45%;margin-top:3rem;border-spacing:0;border-collapse:collapse;display:table;    float: right;}
.table_search_result thead{display:table-header-group;vertical-align:middle;}
.table_search_result th, .table_search_result td{padding:10px;line-height:1.5;}
.table_search_result tbody th{text-align:right;}


.table_search_schedule {width:60%;border-spacing:0;border-collapse:collapse;display:table;    float: right;}
.table_search_schedule thead{display:table-header-group;vertical-align:middle;}
.table_search_schedule th, .table_search_schedule td{padding:10px;line-height:1.5;}
.table_search_schedule tbody th{text-align:right;}

/*scrollTable*/
.tblscroll_head{width:99.3%;overflow-x:hidden;}

/*Paging*/
.paging{text-align:center;margin:25px 0 10px;}
.paging a{display:inline-block;margin:0 2px;vertical-align:middle;}
.paging .number a{display:inline-block;min-width:28px;height:28px;line-height:28px;padding:0 10px;border-radius:28px;background:#eee;vertical-align:middle;margin-right:3px;color:#444;box-shadow:inset 0 0 5px rgba(0,0,0,.05);}
.paging_arrow{color:#039cfd;}
.paging_arrow.disabled{color:#ccc}
.paging_arrow span{font-size:12px;display:inline-block;vertical-align:middle;}
.paging_arrow.paging_pre:before{display:inline-block;vertical-align:middle;content:"\f100";font-family:FontAwesome;font-weight:normal;color:#039cfd;font-size:16px;margin-right:5px}
.paging_arrow.paging_next:after{display:inline-block;vertical-align:middle;content:"\f101";font-family:FontAwesome;font-weight:normal;color:#039cfd;font-size:16px;margin-left:5px}
.paging_arrow.disabled:before,.paging_arrow.disabled:after{color:#ccc}
.paging .number a:hover,.paging .number a.active{background:#039cfd;color:#fff;box-shadow:inset 0 0 5px rgba(0,0,0,.3);}

/*tooltip*/

/*date*/
.datepicker{width:220px;height:220px;}
.input-group-addon{background-color:#787997;border:0;cursor:pointer}
.date_input{border-top-right-radius:0;border-bottom-right-radius:0;}
.ion-calendar:before{font-family:FontAwesome;content:"\f133";color:#fff;font-style:normal;}

/*notification*/
.miniNoty{position:fixed;right:0; /* 경고창 위치 조정*/bottom:0;/* 경고창 위치 조정*/max-width:50%;min-width:150px;z-index:101;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.miniNoty_message{position:relative;right:10px;opacity:0;color:#fff;cursor:pointer;float:right;clear:both;padding:0 10px;margin:0;max-height:0;border-radius:5px;overflow:hidden;-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transform:scale(1,0);-moz-transform:scale(1,0);-o-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0);-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;width:300px;/*경고창 크기 조정*/}
.miniNoty_message-show{margin:0 0 10px;padding:7px 10px;max-height:500px;opacity:1;-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);}
.miniNoty_message-remove{padding:0;margin:0;overflow:hidden;}
.miniNoty_message-success{background:mediumseagreen;box-shadow:0 2px 5px mediumseagreen;}
.miniNoty_message-error{background:indianred;box-shadow:0 2px 5px indianred;}
.miniNoty_message-normal{background:#fafafa;box-shadow:0 2px 5px lightgrey;color:#000;}
.miniNoty_message-normal .miniNoty_btn{color:#000;}
.miniNoty_message-warning{background:goldenrod;box-shadow:0 2px 5px goldenrod;}
.miniNoty_btn{display:inline-block;padding:5px 7px;border-radius:4px;color:#fff;margin:5px 5px 0 0;text-decoration:none;border:1px solid #eee;background:rgba(255,255,255,0.3);}
.miniNoty_btn:hover{background:rgba(255,255,255,0.5);}
@media screen and (max-width:480px){
	.miniNoty{max-width:100%;width:100%;}
	.miniNoty_message{margin:0 0 5px;border-radius:0;text-align:center;padding:5px;right:0;float:none;}
	.miniNoty_message:last-child{margin:0;}
	.miniNoty_message-show{bottom:5px;}
}

/*notification end*/

/*Autocomplete*/
.typeahead,.tt-query,.tt-hint{width:396px;font-size:12px;outline:none;margin-top:10px;}
.tt-query{-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);}
.tt-hint{color:#999;}
.tt-menu{width:396px;padding:8px 0;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);}
.tt-suggestion{padding:3px 20px;font-size:12px;line-height:24px;}
.tt-suggestion:hover{cursor:pointer;color:#fff;background-color:#0097cf;}
.tt-suggestion.tt-cursor{color:#fff;background-color:#0097cf;}
.tt-suggestion p{margin:0;}
.gist{font-size:12px;}

/*Autocomplete end*/

/*login_page*/
.login_page{margin:0;color:#4c5667;overflow:hidden;height:auto;position:relative;}
.login_wrapper{margin: 0 auto;  max-width: 385px;  max-height: 370px; padding: 20px 30px;     background: #ffffff;   box-shadow: 0px 2px 2px rgba(0,0,0,.2) !important;margin: auto;  left: 0;  right: 0;  top: 0;  bottom: 0;    position: absolute;    border-radius: 5px;}
.text_center{text-align:center;}
.logo_login{display:block;font-size:24px;font-weight:600;line-height:40px;color:#039cfd;}
.form-horizontal{padding-top:20px;}
.form-control{/*padding-left:40px;*/}
.form-control-feedback{right:20px;color:#ccc;}

/*error page*/
.error_wrap{margin:0 auto;max-width:400px;padding-top:10%;text-align:center;}
.error_wrap h1{font-size:98px;padding-bottom:20px;}
.pdt{padding-top:40px;}
.scroll_wrap.horison{position:relative!important;}
.scroll_wrap.horison .jspContainer{position:relative;}

/*zoom*/
.zoom_wrap{position:relative;}
.zoombox{position:absolute;top:20px;left:20px;}
.zoombox > button{display:block;min-width:30px;height:30px;}
.checkSel {position:relative;}


/* submit */
.submit {    text-align: right;    margin: 10px 0;}



/* tab style */
.tab {list-style: none;margin: 0;	padding: 0;	overflow: hidden; text-align: left;}
/* Float the list items side by side */
.tab li { position: relative;   display: inline-block; border-radius: 5px;  border: 1px solid #eee;}
/* Style the links inside the list items */
.tab li a {	display: inline-block;	color: #000;	text-align: center;	text-decoration: none;	padding: 14px 16px;	font-size: 15px;	transition:0.3s;}
/* Style the tab content */
.tabcontent {	display: none;	background-color:#fff;	padding: 6px 0;	}
ul.tab li.current{	background-color: #787997;	color: #fff;}
ul.tab li.current a {color: #fff;}

.tab_result {    list-style: none;  padding: 0; overflow: hidden;   margin: 0 auto;  width: 25%; padding: 0px 0 20px;}
/* Float the list items side by side */
.tab_result li {	float: left; cursor:pointer;  width: 24%;  margin-right: 8%; font-weight: 500; text-align: center;    border: 1px solid #ebf3f7;  border-radius: 50%;  box-shadow: 0px 1px 1px rgba(0,0,0,.5) !important;}
.tab_result li:hover {background-color: #6098b6; transition:all 0.5s ease; color: #fff;}
.tab_result li:hover a {color:#fff;}
/* Style the links inside the list items */
.tab_result li a {	display: inline-block;	color: #000;	text-align: center;	text-decoration: none;	padding: 14px 16px;	font-size: 15px;	transition:0.3s;    font-weight: 500;}
/* Style the tab content */
.tabcontent {	display: none;	background-color:#fff;	padding: 6px 0;	}
ul.tab_result li.current{	background-color:#6098b6;	color: #fff;}
ul.tab_result li.current a {color: #fff;}
.tab_result_img { width: 37px;  height: 50px;  display: block;  margin: 15px auto 0;}


.category_bt {margin-bottom:20px;}
.category_bt li:hover { border-top: 2px solid #4c9ded !important;}
.category_bt li:hover button {color:#4c9ded;}
.tabcontent.current {display: block;}
.tabcontent > ul {width:100%; text-align:center;}
.tabcontent > ul li { list-style: none;  display: inline-block;  min-width: 60px;  padding: 5px 18px;  /* text-align: center; */  border-top: 2px solid #c1c3c5;  color: #000;}
.tabcontent > ul li:hover {  list-style: none; display: inline-block; /* width: 30px; */ padding: 5px 18px; /* text-align: center; */ /* background: #315C93; */ /* border: 1px solid #eee; */}
.category_on {border-top: 2px solid #4c9ded !important;}
.category_on button {color:#4c9ded !important;}
.tabcontent > ul li button {color:#000;}
.tabcontent > ul li button:hover {color:#4c9ded;}
.half_row {      width: 50%; margin: 20px auto;  padding: 20px 0;  background: #fff;    box-shadow: 0px 1px 2px rgba(0,0,0,.2) !important;}
.par_notice {    width: 94%;  margin: 10px auto;  padding: 35px;   font-size: 13px;border-radius: 10px; background: #eceff4; font-weight: 600;}
.par_notice h5 {font-size: 20px;  font-weight: bold;  text-align: center;  padding: 5px 0 15px;}
.par_notice li {line-height:20px;}
.par_title {text-align:center; font-weight:bold;padding: 20px 0;    color: #000;}
.par_sub_title {color: #001ce5;  text-align: center;  font-weight: bold;  padding: 20px 0;  font-size: 19px;}
.full {color:red; font-weight: 500;}
.much {color:blue; font-weight: 500;}
.submit_wrap {text-align:center;}
.print {display:inline-block;    padding: 20px;}
.print_cont {  padding: 15px 0 0 0;}
.month_tb {background: #5e5f74;  color: #fff;}


/**/
.register_picture {    display: inline-block;}
.company_pics {display: inline-block;}
.company_pics img { display: inline-block;    padding: 0 20px 0 0;}
.company_pics p {    padding: 0 150px 0 0px;  font-weight: bold;  font-size: 23px;  display: inline-block;   margin: 0;   vertical-align: middle;}
