<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.reporting.mapper.cmn.registActivateMapper">

	
   <insert id="registActivate" parameterType="HashMap" >

			INSERT INTO tb_regist_activate
    		(
    		 site_id
    		,equipment_no
    		,module_serial
    		,module_no
    		,operation_code
    		,message
    		,activate_time
    		,activate_date)
    		values
    		(
    		 #{site_id}
     		,#{equipment_no}
    		,#{module_serial}
    		,#{module_no}
    		,#{operation_code}
    		,#{message}
    		,CURRENT_TIMESTAMP
    		,date_format(CURRENT_TIMESTAMP, "%Y%m%d")
    		)
	
    </insert>
    
   <insert id="registActivateByApi" parameterType="HashMap" >

			INSERT INTO tb_regist_activate
    		(
    		 site_id
    		,equipment_no
    		,module_serial
    		,module_no
    		,operation_code
    		,message
    		,site_seq
    		,activate_time
    		,activate_date
			)
    		values
    		(
    		 #{site_id}
     		,#{equipment_no}
    		,#{module_serial}
    		,#{module_no}
    		,#{operation_code}
    		,#{message}
    		,#{site_seq}
    		,#{activate_time}
    		,#{activate_date}
    		)
	
    </insert>

	<select id="day-report" resultType="RegistActivateDTO">
		<include refid="day-report-query"/>
	</select>
	
		<select id="day_report_full_cnt" resultType="int">

			select ifnull(sum(cnt),0) cnt
			from (
			
			<include refid="day-report-query"/>
			
		    ) z
			
			
	</select>
	
	<sql id="day-report-query">
		<![CDATA[
			select b.site_name as site_name
			,concat(concat(DATE_FORMAT(a.activate_date,'%Y-%m-%d'),' - ')
			,CASE DAYOFWEEK(a.activate_date) WHEN '1' THEN '일요일'
											WHEN '2' THEN '월요일'
											WHEN '3' THEN '화요일'
											WHEN '4' THEN '수요일'
											WHEN '5' THEN '목요일'
											WHEN '6' THEN '금요일'
											WHEN '7' THEN '토요일' END ) AS  activate_date
			,DAYOFWEEK(a.activate_date) as dayofweek
			,a.operation_code, c.code_nm,c.code_message message,count(*) cnt
			  from tb_regist_activate a
			 join tb_site b on (a.site_id = b.site_id)
			 left outer join tb_regist_status c on (a.operation_code = c.code)
			 join tb_module d on (a.module_serial = d.module_serial 
			                      and case when '${module_variety}' = '' then 1=1 else d.module_variety = '${module_variety}' end) 
			 where a.site_id = #{site_id}
			  and year(a.activate_date) = #{searchYear}
			  and month(a.activate_date) = #{searchMonth}
			  and case when b.start_time > b.end_time then 
                       concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) <= b.end_time 
                   or concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) >= b.start_time
                  when b.start_time < b.end_time then 
                  concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) between b.start_time and b.end_time
                  when b.start_time = b.end_time then
                  1=1
                  end
             and  case when '${module_serial}' != '' then 
                      a.module_serial = #{module_serial} 
                 else 1=1 end
             and  case when '${operation_code}' != '' then 
                      a.operation_code = #{operation_code} 
                 else 1=1 end
             group by 1,2,3,4,5,6
			 order by a.activate_date desc
		]]>
	</sql>
	

	<select id="reporting_count" resultType="int">
		<![CDATA[
		
			select	count(*)
			from (
			select activate_date,operation_code,message
			  from tb_regist_activate
			 where site_id = #{site_id}
			 group by 1,2,3
			 ) z
		]]>
	</select>
	
	<select id="month-report" resultType="RegistActivateDTO">	
		<include refid="month-report-query"/>
		limit #{cri.pageStart},#{cri.perPageNum}	
	</select>
	
	<select id="month-report-excel" resultType="RegistActivateDTO">	
		<include refid="month-report-query"/>
	</select>
	
	<select id="month-report-count" resultType="int">
		select count(*) cnt
		  from (
			<include refid="month-report-query"/>
		  ) z
		  
	</select>
	
	<sql id="month-report-query">
		<![CDATA[	
			select DATE_FORMAT(a.activate_date,'%Y-%m-%d') activate_date,a.activate_time,a.site_id,b.site_name,a.equipment_no,a.operation_code,a.module_serial,a.module_no,c.code_message message,c.code_nm
			  from tb_regist_activate a
			 join tb_site b on (a.site_id = b.site_id)
			 left outer join tb_regist_status c on (a.operation_code = c.code)
			 join tb_module d on (a.module_serial = d.module_serial 
			                      and case when '${module_variety}' = '' then 1=1 else d.module_variety = '${module_variety}' end) 
			 where a.site_id = #{site_id}
			  and year(a.activate_date) = #{searchYear}
			  and month(a.activate_date) = #{searchMonth}
			  and case when b.start_time > b.end_time then 
                       concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) <= b.end_time 
                   or concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) >= b.start_time
                  when b.start_time < b.end_time then 
                  concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) between b.start_time and b.end_time
                  when b.start_time = b.end_time then
                  1=1
                  end
             and  case when '${module_serial}' != '' then 
                      a.module_serial = #{module_serial} 
                 else 1=1 end
			 order by a.activate_time desc
	]]>
	</sql>
	
	<select id="registActivateSyncOne" resultType="int">
		<![CDATA[	
			select count(*)
			  from tb_regist_activate
			 where site_id = #{site_id}
			   and site_seq = #{site_seq}
			   and module_serial = #{module_serial}
		]]>		
	
	</select>

	<select id="year_report" resultType="RegistActivateYearDTO">
		<![CDATA[
		select years,site_id,site_name,y.module_variety,case when x.variety_name is null then '-' else x.variety_name end variety_name
			  ,holi_yn,case when y.holi_yn = 1 then '주말'  when y.holi_yn = 0 then '평일' else '-' end as holi_name
			  ,month1,month2,month3,month4
			  ,month5,month6,month7,month8,month9,month10,month11,month12
			from (
			select z.years
				   ,z.site_id
				   ,z.site_name
				   ,z.module_variety
				   #,z.variety_name
				   ,z.holi_yn
				   ,sum(case when z.months = 1 then z.cnt else 0 end ) as month1
				   ,sum(case when z.months = 2 then z.cnt else 0 end ) as month2
				   ,sum(case when z.months = 3 then z.cnt else 0 end ) as month3
				   ,sum(case when z.months = 4 then z.cnt else 0 end ) as month4
				   ,sum(case when z.months = 5 then z.cnt else 0 end ) as month5
				   ,sum(case when z.months = 6 then z.cnt else 0 end ) as month6
				   ,sum(case when z.months = 7 then z.cnt else 0 end ) as month7
				   ,sum(case when z.months = 8 then z.cnt else 0 end ) as month8
				   ,sum(case when z.months = 9 then z.cnt else 0 end ) as month9
				   ,sum(case when z.months = 10 then z.cnt else 0 end ) as month10
				   ,sum(case when z.months = 11 then z.cnt else 0 end ) as month11
				   ,sum(case when z.months = 12 then z.cnt else 0 end ) as month12

			from (
					select year(a.activate_date) as years
						   ,month(a.activate_date) as months
						   ,a.site_id as site_id
						   ,b.module_variety as module_variety
						   #,c.variety_name
						   ,d.site_name
						   ,case when DAYOFWEEK(a.activate_date) in (1,7) then 1 else 0 end  as holi_yn
						   ,count(*) cnt
					from tb_regist_activate a
					inner join tb_module b on a.module_serial = b.module_serial
					#inner join tb_module_variety c on b.module_variety = c.module_variety
					inner join tb_site d on a.site_id = d.site_id
					where a.operation_code = 0
					  and year(a.activate_date) = #{searchYear}
					  and a.site_id != 'testsite'
					  and case when d.start_time > d.end_time then
									concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) <= d.end_time
								  or concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) >= d.start_time
							   when d.start_time < d.end_time then
									concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) between d.start_time and d.end_time
							  when d.start_time = d.end_time then
								  1=1
							end
					group by 1,2,3,4,5,6
			) z
			group by 1,2,3,4,5 with rollup
			) y
	        left outer join tb_module_variety x on y.module_variety = x.module_variety
			where y.site_name is not null
			order by 3,4,5,6,7

		]]>
	</select>


	<select id="monthlysum_report" resultType="RegistActivateYearDTO">
		<![CDATA[
					select a.site_id as site_id
						   ,d.site_name as site_name
						   ,ifnull(count(*),0) summary
					from tb_regist_activate a
					inner join tb_module b on (a.module_serial = b.module_serial
											  and case when '${module_variety}' = '' then 1=1 else b.module_variety = '${module_variety}' end)
					inner join tb_site d on a.site_id = d.site_id
                    inner join (select site_id,count(*) cnt from tb_module where module_variety='${module_variety}' group by 1 having cnt = '${code_variety_cnt}') e on a.site_id = e.site_id
					where a.operation_code = 0
					  and year(a.activate_date) = #{searchYear}
                      and month(a.activate_date) = #{searchMonth}
					  and a.site_id != 'testsite'
					  and case when d.start_time > d.end_time then
									concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) <= d.end_time
								  or concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) >= d.start_time
							   when d.start_time < d.end_time then
									concat(lpad(hour(a.activate_time),2,'0'),lpad(minute(a.activate_time),2,'0')) between d.start_time and d.end_time
							  when d.start_time = d.end_time then
								  1=1
							end
					group by 1,2
					order by 2

		]]>
	</select>

    <select id="variety_cnt" resultType="CodeDTO">
        <![CDATA[

            select distinct z.cnt as code ,z.cnt code_name
            from
            (select 	a.site_id,module_variety,count(*) cnt
            from		tb_module a
            where       a.module_variety = #{module_variety}
            group by 1,2
            ) z
            order by cnt desc

        ]]>

    </select>

	<select id="moduleserialsum_report" resultType="RegistActivateYearDTO">

		<![CDATA[
					select  a.module_serial,b.site_id,b.site_name,c.serial_name
							,sum(a.cnt) as summary
							,sum(case when a.year = year(current_date) then a.cnt else 0 end ) as yearcur
							,sum(case when a.year = year(current_date)-1 then a.cnt else 0 end ) as yearcur_1
							,sum(case when a.year = year(current_date)-2 then a.cnt else 0 end ) as yearcur_2
							,sum(case when a.year <= year(current_date)-3 then a.cnt else 0 end ) as yearcur_3
							from (
								select year(activate_time) as year,site_id,module_serial,count(*) cnt
								from tb_regist_activate
								where site_id != 'testsite'
             		  			  and case when '${operation_code}' != '' then
                      			        			operation_code = #{operation_code}
                 							  else 1=1 end
								group by 1,2,3
								) a
								inner join tb_site b on (a.site_id = b.site_id)
								inner join tb_module c on (a.module_serial = c.module_serial  and a.site_id = c.site_id)
							group by 1,2,3,4
							order by 5 desc


		]]>

	</select>

</mapper>